################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/packages
/obj/Debug
/bin/Debug
/.vs/WinFwk/v14
