################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
WinFwk.csproj.user
/*.nupkg
/obj
/bin
