################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/packages
/obj/Debug
/bin/Debug
/.vs/WinFwk/v14
/bin/x86/Debug
/obj/x86/Debug
WinFwk.csproj.user
/.vs/WinFwk/v15/.suo
/.vs/WinFwk/v15/.suo
/*.nupkg
/obj/Release
